body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

p {
  line-height: 1.6;
  font-size: 1.2em;
}

:root {
  --primary-color: #605DC8;
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
